.Rproj.user
.Rhistory
.RData
.Ruserdata
paper/CautionaryNoteEstimatingEffectSize.synctex.gz
paper/CautionaryNoteEstimatingEffectSize.log
paper/CautionaryNoteEstimatingEffectSize.blg
paper/CautionaryNoteEstimatingEffectSize.bbl
paper/CautionaryNoteEstimatingEffectSize.aux
paper/CautionaryNoteEstimatingEffectSize.out
